*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans';
}


/* Navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 2rem;
    height: 13vh;
}
.logo{
    cursor: pointer;
}
.grouplist{
    display: flex;
    gap: 2.5rem;
    list-style-type: none;
}
li{
    font-family: 'Lucida Sans';
    font-size: larger;
    color: #ece6e6;
    transition: 0.5s;
}
li:hover{
    cursor: pointer;
    color: #31b2cf;
    scale: 1.2;
}
.login-button{
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: none;
    font-size: large;
    font-family: 'Lucida Sans';
    cursor: pointer;
    border-radius: 30px;
    background-color:#1a7bf2;
    color: #ffffff;
    transition: 0.5s;
}
.login-button:hover{
    scale: 1.1;
    border-radius: 10px;
}
#dropdownlist{
    display: none;
}
@media screen and (max-width:950px){
    .grouplist{
        display: none;
    }
    #dropdownlist{
        margin-left: 20rem;
        border: none;
        background-color: #000000;
        color: #ffffff;
        display: block;
    }
}
@media screen and (max-width:750px){
    #dropdownlist{
        margin-left: 10rem;
    }
}
@media screen and (max-width:580px){
    #dropdownlist{
        display: none;
    }
}

/* Intro section */
.intro{
    display: flex;
    padding: 2rem;
    background-color: #000000;
    color: #ffffff;
}
.intro-heading{
    font-size: 4rem;
    font-weight: 500;
}
#cheapest{   
    font-style: italic;
    color:#3d91f8;
}
.intro-para{
    font-size: 1.4rem;
    margin: 2rem 0 4rem 0;
    color: #686666;
}
.get-btn{
    padding: 1.2rem 1.7rem;
    font-size: larger;
    border: none;
    background-color: #1a7bf2;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}
.get-btn:hover{
    scale: 1.1;
}
.start-btn{
    padding: 1rem 1.5rem;
    font-size: larger;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}
.start-btn:hover{
    scale: 1.1;
}
.intro-image{
    padding: 1rem;
}
@media screen and (max-width:950px) {
    .intro{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:600px){
    .intro-image{
        display: none;
    }
}