*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans';
}


/* Navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 2rem;
    height: 13vh;
}
.logo{
    cursor: pointer;
}
.grouplist{
    display: flex;
    gap: 2.5rem;
    list-style-type: none;
}
li{
    font-family: 'Lucida Sans';
    font-size: larger;
    color: #ece6e6;
    transition: 0.5s;
}
li:hover{
    cursor: pointer;
    color: #31b2cf;
    scale: 1.2;
}
.login-button{
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: none;
    font-size: large;
    font-family: 'Lucida Sans';
    cursor: pointer;
    border-radius: 30px;
    background-color:#1a7bf2;
    color: #ffffff;
    transition: 0.5s;
}
.login-button:hover{
    scale: 1.1;
    border-radius: 10px;
}
#dropdownlist{
    display: none;
}
@media screen and (max-width:950px){
    .grouplist{
        display: none;
    }
    #dropdownlist{
        margin-left: 20rem;
        border: none;
        background-color: #000000;
        color: #ffffff;
        display: block;
    }
}
@media screen and (max-width:750px){
    #dropdownlist{
        margin-left: 10rem;
    }
}
@media screen and (max-width:580px){
    #dropdownlist{
        display: none;
    }
}

/* Intro section */
.intro{
    display: flex;
    padding: 2rem;
    background-color: #000000;
    color: #ffffff;
}
.intro-heading{
    font-size: 4rem;
    font-weight: 500;
}
#cheapest{   
    font-style: italic;
    color:#3d91f8;
}
.intro-para{
    font-size: 1.4rem;
    margin: 2rem 0 4rem 0;
    color: #686666;
}
.get-btn{
    padding: 1.2rem 1.7rem;
    font-size: larger;
    border: none;
    background-color: #1a7bf2;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}
.get-btn:hover{
    scale: 1.1;
}
.start-btn{
    padding: 1rem 1.5rem;
    font-size: larger;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 30px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
}
.start-btn:hover{
    scale: 1.1;
}
.intro-image{
    padding: 1rem;
}
@media screen and (max-width:950px) {
    .intro{
        display: flex;
        flex-direction: column;
    }
}
.logosection{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #03203C;
}
@media screen and (max-width:600px){
    .intro-image{
        display: none;
    }
    .logosection {
        display:none;
    }
}


/* Services Section */
.service-section{
    padding: 5rem 3rem;
    background-color: #c7c7c7;
}
.service-content{
    text-align: center;
}
#service-heading{
    font-size: 3rem;
    font-weight: 900;
}
#service-para{
    font-size: larger;
    padding: 2rem;
    color: #463838;
}
.service-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 5rem 0rem;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #0e2e69;
    height: 20rem;
    width: 20rem;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.box:hover{
    scale: 1.1;
    background-color: #4a66d6;
    color: white;
    border-radius: 10px;
}
.box-heading{
    font-size: 1.5rem;
    font-weight: 900;
    padding:10px;
}
.box-para{
    font-size: larger;
    margin-top: 20px;
    color: #000000;
}
.box-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid #1932d7;
    height: 20rem;
    width: 20rem;
    border-radius: 20px;
    padding: 1rem;
    background-color: #000000;
    transition: 0.3s;

}
.box-2:hover{
    scale: 1.1;
    background-color: #7483c0;
}
@media screen and (max-width:1000px) {
    .service-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box{
        margin-top: 20px;
    }
    .box-2{
        margin-top: 20px;
    }
}
.business-heading{
    font-size: 3rem;
    font-weight: 900;
    padding: 0.3rem;
}
.business-box{
    background-color: #1a7bf2;
    border: 2px solid black;

    display: flex;
    justify-content: space-between;
    width: 30rem;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    border-radius: 30px;
    margin: 2rem 4rem;
}
.business-box-2{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    width: 30rem;
    padding: 1rem;
    text-align: center;
    border-radius: 30px;
    margin: 2rem 4rem;
    
}
.business-box-para{
    margin:15px;
}

.business-container{
    display: flex;
}
/* features container */
.features-container{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: white;
}
.features-box{
    margin: 1rem;
    padding: 1rem;
    background-color: #1a7bf2;
}